*.suo
*.VC.db
*.VC.VC.opendb
*.vs/
.vscode/
ipch/
*.pch
*.sdf
ENFT/cpplint.bat
ENFT/cpplint.py
ENFT/reports.txt
.DS_Store
x64/*/ENFT.*
ENFT/x64/
ENFT/v-tm\.txt
.vs/
\.idea/
cmake-build-*/
build/
bin/

